<h1><%= @artist.username %></h1>
<p><%= @artist.description %></p>
<p><%= @artist.website %></p>
<p><%= @artist.domain.name %></p>
<p><%= @artist.city %></p>

<h2><%= @artist.username %>'s products</h2>

<% @artist.products do |product| %>
  <% link_to product_path(product) do %>
    <div>
      <%= product.name %>
      <%= product.price %>
    </div>
  <% end %>
<% end %>
