<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-6 col-md-3 ">
        <div class="product-card">
          <div class="footer-picture">
            <% if product.photos? %>
              <%= link_to product_path(product) do %>
                <%= cl_image_tag product.photos.first.path, width: 300, height: 300, crop: :fill %>
                <% end %>
            <% end %>
             <% if current_user && current_user.artist == product.artist %>
            <%= link_to(raw("<i class='fa fa-pencil-square-o' aria-hidden='true'></i>"), edit_product_path(product)) %>

            <%= link_to(raw("<i class='fa fa-trash-o' aria-hidden='true'></i>"), product, method: :delete, data: { confirm: 'Are you sure?' }) %>


          <% end %>
          </div>

          <div class="footer-card">
            <%= link_to product_path(product) do %>
              <h2><%= product.name %> <span class="format"><%= product.format %></span></h2>
            <% end %>

            <span class="price"><%= humanized_money_with_symbol(product.product_price) %></span>

            <a href="#addToCart" data-toggle="modal"><span class="card-basket"><i class="fa fa-shopping-basket" aria-hidden="true"></i></span></a>
          </div>


        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render '/shared/add_to_cart_modal' %>
