<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :format %>
    <%= f.association :artist_id %>
    <%= f.input :product_price %>
    <%= f.input :delivery_price %>
    <%= f.input :stock_quantity %>
    <%= f.input :rating_avg %>
    <%= f.input :description %>
    <%= f.association :material_id %>
    <%= f.association :category_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
