<div class="container">
  <div class="product">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <%= render 'shared/product-carrousel' %>
      </div>
      <div class="col-sm-5">
        <div class="product-description">
          <h3 class="text-uppercase"><%= @product.name %></h3>
          <h4 class="text-uppercase"><%= link_to @product.artist.username, artist_path(@product.artist)%></h4>
          <p class="text-justify"><%= @product.description %></p>
          <h4 class="text-uppercase"> Size : <%= @product.format %></h4>
          <h4 class="text-uppercase"> Materials : <%= @product.material.name %></h4>
          <h4 class="text-uppercase"> Price : <%= humanized_money_with_symbol(@product.product_price) %></h4>
          <h4 class="text-uppercase"> Delivery price : <%= humanized_money_with_symbol(@product.delivery_price) %></h4>

          <button type="submit" data-toggle="modal" data-target="#addToCart" class="btn btn-default btn-hero">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="review">
    <div class="row">
      <div class="col-xs-10 col-md-offset-1">
        <% if @product.reviews != nil %>
          <%= render 'shared/review-card' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <% if current_user && current_user.artist == @product.artist %>
    <%= link_to 'Edit my product', edit_product_path, class: "btn btn-default" %>
  <% end %>
</div>

<%= render '/shared/add_to_cart_modal' %>
